body{
    color: crimson;
    background-color: black;
}

header{
    border-bottom: solid 2px rgb(rgb(220, 17, 54));
    padding: 20px;
    font-size: 32;
    color: aliceblue;
    background:rgb(220, 17, 54) ;
}

.chamada{
    background: cornsilk;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}